schemaconfig/platform_config.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="word64Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="16#[0-9a-fA-F]{4}(_([0-9a-fA-F]{4})){0,3}#"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="word32Type">
		<xs:restriction base="word64Type">
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="word16Type">
		<xs:restriction base="word64Type">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="byteType">
		<xs:restriction base="xs:string">
			<xs:pattern value="16#[0-9a-fA-F]{2}#"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="booleanType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="true"/>
			<xs:enumeration value="false"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="nameType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="63"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="noneType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:complexType name="deviceType">
		<xs:sequence>
			<xs:element name="pci" type="pciType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="irq" type="irqType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="memory" type="deviceMemoryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ioPort" type="ioPortType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="capabilities" type="capabilitiesType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="name" type="nameType" use="required"/>
	</xs:complexType>
  <xs:complexType name="pciAddressType">
		<xs:attribute name="bus" type="byteType" use="required"/>
		<xs:attribute name="device" type="pciDeviceNumberType" use="required"/>
		<xs:attribute name="function" type="pciFunctionNumberType" use="required"/>
	</xs:complexType>
  <xs:simpleType name="pciDeviceNumberType">
		<xs:restriction base="xs:string">
			<xs:pattern value="16#[0|1][0-9a-fA-F]#"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="pciFunctionNumberType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="7"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:complexType name="pciType">
		<xs:complexContent>
			<xs:extension base="pciAddressType">
				<xs:attribute name="msi" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
  <xs:complexType name="devicesType">
		<xs:sequence>
			<xs:element name="device" type="deviceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="pciConfigAddress" type="word64Type" use="optional"/>
	</xs:complexType>
  <xs:complexType name="processorType">
		<xs:attribute name="logicalCpus" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="speed" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="vmxTimerRate" type="vmxTimerRateType" use="required"/>
	</xs:complexType>
  <xs:simpleType name="vmxTimerRateType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="31"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:complexType name="capabilitiesType">
		<xs:sequence>
			<xs:element name="capability" type="capabilityType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  <xs:complexType name="capabilityType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
  <xs:simpleType name="vectorType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="255"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="irqNumberType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="220"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:complexType name="ioPortType">
		<xs:attribute name="name" type="nameType" use="required"/>
		<xs:attribute name="start" type="word16Type" use="required"/>
		<xs:attribute name="end" type="word16Type" use="required"/>
	</xs:complexType>
  <xs:complexType name="irqType">
		<xs:attribute name="name" type="nameType" use="required"/>
		<xs:attribute name="number" type="irqNumberType" use="required"/>
	</xs:complexType>
  <xs:complexType name="devicesRefType">
		<xs:sequence>
			<xs:element name="device" type="deviceRefType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  <xs:complexType name="deviceRefType">
		<xs:sequence>
			<xs:element name="pci" type="pciAddressType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="memory" type="memRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ioPort" type="ioPortRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="irq" type="irqRefType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="logical" type="nameType" use="required"/>
		<xs:attribute name="physical" type="nameType" use="required"/>
	</xs:complexType>
  <xs:complexType name="ioPortRefType">
		<xs:attribute name="logical" type="nameType" use="required"/>
		<xs:attribute name="physical" type="nameType" use="required"/>
	</xs:complexType>
  <xs:complexType name="irqRefType">
		<xs:attribute name="logical" type="nameType" use="required"/>
		<xs:attribute name="physical" type="nameType" use="required"/>
		<xs:attribute name="vector" type="vectorType" use="required"/>
	</xs:complexType>
  <xs:complexType name="resourcesType">
		<xs:sequence>
			<xs:element name="irq" type="irqType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ioPort" type="ioPortType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  <xs:simpleType name="memorySizeType">
		<xs:restriction base="word64Type"/>
	</xs:simpleType>
  <xs:simpleType name="alignmentType">
		<xs:restriction base="word64Type">
			<xs:enumeration value="16#1000#"/>
			<xs:enumeration value="16#0020_0000#"/>
			<xs:enumeration value="16#4000_0000#"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="cachingType">
		<xs:restriction base="xs:string">
			<xs:pattern value="UC|WC|WT|WB|WP"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="memoryKindType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="system"/>
			<xs:enumeration value="system_vmxon"/>
			<xs:enumeration value="system_vmcs"/>
			<xs:enumeration value="system_iobm"/>
			<xs:enumeration value="system_msrbm"/>
			<xs:enumeration value="system_msrstore"/>
			<xs:enumeration value="system_pt"/>
			<xs:enumeration value="system_vtd_root"/>
			<xs:enumeration value="system_vtd_context"/>
			<xs:enumeration value="kernel"/>
			<xs:enumeration value="kernel_binary"/>
			<xs:enumeration value="kernel_interface"/>
			<xs:enumeration value="kernel_vtd_ir"/>
			<xs:enumeration value="subject"/>
			<xs:enumeration value="subject_info"/>
			<xs:enumeration value="subject_state"/>
			<xs:enumeration value="subject_binary"/>
			<xs:enumeration value="subject_channel"/>
			<xs:enumeration value="subject_initrd"/>
			<xs:enumeration value="subject_bios"/>
			<xs:enumeration value="subject_acpi_rsdp"/>
			<xs:enumeration value="subject_acpi_xsdt"/>
			<xs:enumeration value="subject_acpi_fadt"/>
			<xs:enumeration value="subject_acpi_dsdt"/>
			<xs:enumeration value="subject_zeropage"/>
			<xs:enumeration value="subject_device"/>
			<xs:enumeration value="subject_timer"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:complexType name="memoryBlockBaseType" abstract="true">
		<xs:attribute name="name" type="nameType" use="required"/>
		<xs:attribute name="physicalAddress" type="word64Type" use="required"/>
		<xs:attribute name="size" type="memorySizeType" use="required"/>
	</xs:complexType>
  <xs:complexType name="deviceMemoryType">
		<xs:complexContent>
			<xs:extension base="memoryBlockBaseType">
				<xs:attribute name="caching" type="cachingType" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
  <xs:complexType name="fileContentType">
		<xs:attribute name="filename" type="xs:string" use="required"/>
		<xs:attribute name="offset" type="optionalOffsetType" use="required"/>
	</xs:complexType>
  <xs:simpleType name="optionalOffsetType">
		<xs:union memberTypes="word64Type noneType"/>
	</xs:simpleType>
  <xs:complexType name="fillContentType">
		<xs:attribute name="pattern" type="byteType" use="required"/>
	</xs:complexType>
  <xs:complexType name="memRegionsType">
		<xs:sequence>
			<xs:element name="memory" type="memoryType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  <xs:complexType name="memoryRefsType">
		<xs:sequence>
			<xs:element name="memory" type="memRefType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  <xs:attributeGroup name="memRefBaseAttrs">
		<xs:attribute name="logical" type="nameType" use="required"/>
		<xs:attribute name="physical" type="nameType" use="required"/>
		<xs:attribute name="writable" type="booleanType" use="required"/>
		<xs:attribute name="executable" type="booleanType" use="required"/>
	</xs:attributeGroup>
  <xs:complexType name="memoryBaseType" abstract="true">
		<xs:choice minOccurs="0" maxOccurs="1">
			<xs:element name="file" type="fileContentType"/>
			<xs:element name="fill" type="fillContentType"/>
		</xs:choice>
		<xs:attribute name="name" type="nameType" use="required"/>
		<xs:attribute name="size" type="memorySizeType" use="required"/>
		<xs:attribute name="caching" type="cachingType" use="required"/>
	</xs:complexType>
  <xs:complexType name="memoryType">
		<xs:complexContent>
			<xs:extension base="memoryBaseType">
				<xs:attribute name="type" type="subjectMemoryKindType" use="optional"/>
				<xs:attribute name="alignment" type="alignmentType" use="optional"/>
				<xs:attribute name="physicalAddress" type="word64Type" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
  <xs:complexType name="memRefType">
		<xs:attributeGroup ref="memRefBaseAttrs"/>
		<xs:attribute name="virtualAddress" type="word64Type" use="optional"/>
	</xs:complexType>
  <xs:complexType name="memoryBlockType">
		<xs:complexContent>
			<xs:extension base="memoryBlockBaseType">
				<xs:attribute name="allocatable" type="booleanType" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
  <xs:simpleType name="subjectMemoryKindType">
		<xs:restriction base="memoryKindType">
			<xs:enumeration value="subject"/>
			<xs:enumeration value="subject_info"/>
			<xs:enumeration value="subject_state"/>
			<xs:enumeration value="subject_binary"/>
			<xs:enumeration value="subject_channel"/>
			<xs:enumeration value="subject_initrd"/>
			<xs:enumeration value="subject_bios"/>
			<xs:enumeration value="subject_acpi_rsdp"/>
			<xs:enumeration value="subject_acpi_xsdt"/>
			<xs:enumeration value="subject_acpi_fadt"/>
			<xs:enumeration value="subject_acpi_dsdt"/>
			<xs:enumeration value="subject_zeropage"/>
			<xs:enumeration value="subject_device"/>
			<xs:enumeration value="subject_timer"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:complexType name="physicalMemoryType">
		<xs:sequence>
			<xs:element name="memoryBlock" type="memoryBlockType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  <xs:complexType name="platformType">
		<xs:sequence>
			<xs:element name="processor" type="processorType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="memory" type="physicalMemoryType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="devices" type="devicesType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
  <xs:element name="platform" type="platformType"/>
</xs:schema>
